body {
    background: #e2e7ec;;
    margin: 0;
  }
A {
    text-decoration: none; 
    color:#000000
   } 
.main {
    display: grid;
    margin: 0 auto;
    height: 40px;
    background: #ffc3cd;
    
    
}
.cube {
    margin: 2% 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 426px);
    grid-gap: 20px;
    margin: 0 auto;

}
.fcube {
    height: 540px;
    width: 426px;
    background: #000000;
    margin: 0 18%;
}
.panel {
    height: 40px;
    background: #ffc3cd;
    line-height: 40px;
    margin: 0 auto;
}
.wf {
    display: grid;
}
.s {
    margin: 2% 30%;
    background: #ffc3cd;
    border-left: solid #ffc3cd 5px;
    border-right: solid #ffc3cd 5px;
    border-top: solid #ffc3cd 5px;
    border-bottom: solid #ffc3cd 5px;
}
.wfhtml {
    display: grid;
}
.shtml {
    margin: 1% 11%;
    border-left: solid #ffc3cd 5px;
    border-right: solid #ffc3cd 5px;
    border-top: solid #ffc3cd 5px;
    border-bottom: solid #ffc3cd 5px;
 
   background: #ffc3cd;
}
.itemtext {
    padding: 24px;
}
.texts {
   color: #000000;
}
.texthead {
    color: #000000;
}
