@charset "utf-8";
/* CSS Document */

body {
    background: #e2e7ec;;
    margin: 0;
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #ef9eb4 0%, #ff0000 51%, #ff0000 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.gradient-button:hover {
  background-position: right center;
}

.wf {
    display: grid;
}
.s {
    margin: 2% 40%;
    background: #fc6f6f;
    border-left: solid #ff0000 5px;
    border-right: solid #ff0000 5px;
    border-top: solid #ff0000 5px;
    border-bottom: solid #ff0000 5px;
	font-size:40px;
}
.wfhtml {
    display: grid;
}
.shtml {
    margin: 1% 11%;
    border-left: solid  #ff0000 5px;
    border-right: solid #ff0000 5px;
    border-top: solid #ff0000 5px;
    border-bottom: solid #ff0000 5px;
	font-size:20px;
 
   background: #fc6f6f;
}